/* Réinitialisation de base et styles globaux */
* html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #0c0c0c;
  color: white;
}

header {
  background: #1a1a1a;
  padding: 1em 0;
}

.brand-name a {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.brand-name a:hover {
  color: #6e45e2;
  text-shadow: 0 0 10px rgba(110, 69, 226, 0.7), 0 0 20px rgba(110, 69, 226, 0.5);
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* En-tête */
#accueil {
  background: linear-gradient(135deg, #6e45e2 0%, #88d3ce 100%);
  text-align: center;
  padding: 5em 0;
}

#accueil h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

#accueil p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

#accueil button {
  padding: 1em 2em;
  background: #ffffff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* Styles de base pour la navigation et les boutons */
nav ul {
  display: flex;
  justify-content: center;
  padding: 1em;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  background-image: linear-gradient(to right, #6e45e2 0%, #88d3ce 100%);
  background-size: 200% auto;
  display: inline-block;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

nav a:hover {
  background-position: right center;
  box-shadow: 0 4px 20px 0 rgba(115, 103, 240, .5);
  transform: translateY(-2px);
}

/* Vous pouvez aussi ajouter un effet pour le lien actif ou la page courante */
nav .active,
nav a.active {
  color: #fff;
  background-position: right center;
}

/* Styles pour les boutons */
button {
  background-color: #5757f2;
  color: black;
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #3939d4;
  transform: translateY(-3px);
}

/* Styles pour les cartes de service avec bords arrondis */
.service-item,
.realisation-item,
.process-step,
.advantage-item,
.blog-item,
.collaboration-offer {
  background: #232323;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover,
.realisation-item:hover,
.process-step:hover,
.advantage-item:hover,
.blog-item:hover,
.collaboration-offer:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Styles supplémentaires pour la navigation */
nav {
  background: #111;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Améliorations visuelles pour le pied de page */
footer {
  background: #0a0a0a;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer a {
  color: #8181f7;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #5757f2;
}

footer .social-icons a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

footer .social-icons a:hover {
  transform: translateY(-3px);
}

#portee {
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
  /* ou une autre couleur de fond */
}

#portee h2{
  color: #333;
  margin-bottom: 20px;
}
#processus {
  text-align: center; /* Ceci centrera tous les textes à l'intérieur de #processus */
}

#processus h2 {
  /* Centrer le h2 dans sa boîte */
  margin: 0 auto; /* Ceci ajoutera un espacement automatique de chaque côté du h2 */
}

.processus-text {
  text-align: left; /* Ceci alignera le texte à l'intérieur de .processus-text à gauche */
}

.processus-text h3,
.processus-text p {
  margin-left: 20px; /* Ceci ajoutera un peu d'espacement à gauche pour h3 et p */
}
.portee-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.portee-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  /* Pour un bord arrondi sur l'image */
}

.portee-text {
  max-width: 40%;
  text-align: left;
}

.portee-text h3 {
  color: #6e45e2;
  /* Couleur du titre */
  margin-bottom: 10px;
}

.portee-text p {
  color: #666;
  /* Couleur du texte */
}

/* Styles de base pour la section et le wrapper */
.section-rotation-g7 {
    background-color: #333;
    padding: 50px 0;
    text-align: center;
    color: #6e45e2;
}

.text-rotation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-static {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.rotating-texts {
    overflow: hidden;
    position: relative;
    height: 80px; /* Ajustez la hauteur pour afficher un seul mot à la fois */
}

.rotate-text {
    display: block;
    animation: scrollVertical 10s linear infinite;
    font-size: 36px; /* Agrandir la taille du texte */
    font-weight: bold; /* Rendre le texte en gras */
    position: relative;
    background-clip: text;
}

/* Keyframes pour l'animation de défilement vertical */
@keyframes scrollVertical {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-80px); }
    50% { transform: translateY(-160px); }
    75% { transform: translateY(-240px); }
    /* Continuez avec le même motif pour plus de texte */
}

/* Styles pour les ordinateurs de bureau et autres grands écrans */
.whatsapp-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* autres styles */
}

/* Styles pour les tablettes */
@media (max-width: 768px) {
    .whatsapp-popup {
        /* ajustements pour les tablettes */
    }
}

/* Styles pour les smartphones */
@media (max-width: 480px) {
    .whatsapp-popup {
        /* ajustements pour les smartphones */
    }
}


.whatsapp-logo {
    background: #25D366;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.whatsapp-logo img {
    width: 50px;
    height: 50px;
}

.popup-content {
    display: none;
    position: absolute;
    bottom: 60px; /* Ajuster selon la taille du bouton */
    right: 0;
    width: 250px; /* Ajuster selon le contenu */
    background-color: #333; /* Fond du popup en gris */
    color: white; /* Texte en blanc */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
}

.discuter-btn {
    background-color: #25D366; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
.brand-name img {
  width: 30px;
  height: 30px;
}

/* Style pour le menu burger */
/* Style pour le menu burger */
/* Style par défaut pour le menu burger (caché) */
  /* Styles par défaut pour les grands écrans */
  #navbar {
      display: block; /* Afficher par défaut sur les grands écrans */
  }


/* Style par défaut pour le menu burger (caché sur les grands écrans) */
.burger-menu {
    display: none; /* Caché par défaut */
    position: absolute; /* Position absolue pour le positionnement */
    top: 10px; /* Ajustez la valeur en fonction de la position verticale souhaitée */
    right: 20px; /* Position à droite */
    cursor: pointer;
}

/* Styles pour la barre de navigation */
#navbar {
    /* Styles communs à tous les écrans */
}

/* Utiliser une classe pour contrôler l'affichage sur les petits écrans */
.navbar-hidden {
    display: none;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .burger-menu {
        display: block;
        /* Autres styles pour le positionnement et l'apparence */
    }

    #navbar {
        display: none; /* Cacher par défaut sur les petits écrans */
        /* Autres styles pour le positionnement et l'apparence */
    }
}
/* Styles pour le menu déroulant */
.dropdown-menu {
    display: none;
    position: fixed;
    background-color: #333;
    border-radius: 10px;
    top: 0;
    right: 0; /* Aligner le menu à droite */
    width: auto; /* Largeur automatique basée sur le contenu */
    max-width: 100%; /* Pour éviter que le menu dépasse l'écran */
    z-index: 1002;
    padding: 20px; /* Espace autour des éléments */
    text-align: left; /* Alignement à gauche des liens */
    box-sizing: border-box; /* Pour inclure padding et bordure dans la largeur/hauteur */
}

.dropdown-menu a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block; /* Affichage en bloc */
    margin-bottom: 10px; /* Espace entre les liens */
    background-image: linear-gradient(to right, #6e45e2, #88d3ce);
    border-radius: 20px; /* Bords arrondis */
    white-space: nowrap; /* Empêcher le texte de passer à la ligne */
}

.dropdown-menu a:hover {
    background-color: #575757; /* Changement de couleur au survol */
}

/* Style pour le bouton de fermeture */
.close-btn {
    background: #6e45e2; /* Couleur de fond du bouton */
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    position: fixed;
    top: 100px; /* Modifier cette valeur en fonction de la hauteur du menu */
    right: 20px; /* Position à droite */
    cursor: pointer;
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour le bouton */
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #88d3ce; /* Changement de couleur au survol */
}
#processus {
  /* Gradient background */
  position: relative;
  color: white;
  padding: 50px 20px;
  overflow: hidden; /* This ensures that the SVG does not overflow the section */
}

/* Adding SVG background */
#processus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('parabolic-rectangle.svg') no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}
/* Positionnement du menu burger à droite */
.menu-burger {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
    .menu-burger {
        display: none;
    }
    #myNav {
        display: none;
    }
}

/* Styles pour les barres du menu burger */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Animation pour le changement du menu burger en croix */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Styles pour l'overlay du menu */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

/* Contenu de l'overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* Styles pour les liens dans l'overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(147, 112, 219, 0.7);
}

/* Styles pour le pied de page */
footer {
    background-color: #1a1a1a; /* Fond de couleur unie */
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content div {
    margin: 10px;
}

/* Style de base pour les liens */
.footer-nav a, .footer-social a {
    color: #FFFFFF; /* Couleur de base */
    text-decoration: none;
    margin: 0 10px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

/* Effet de gradient et glow au survol */
.footer-nav a:hover, .footer-social a:hover {
    background: -webkit-linear-gradient(#6e45e2, #88d3ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(110, 69, 226, 0.7), 0 0 20px rgba(110, 69, 226, 0.5);
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

/* Styles pour l'animation au défilement */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
.processus-content {
    text-align: left;
    margin: 20px;
}

.processus-step, .arrow {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.processus-step {
    margin-bottom: 20px;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
}

.arrow {
    text-align: center;
    margin: 10px auto;
}

.arrow::after {
    content: '↓'; /* Symbole de flèche */
    font-size: 24px;
    color: #6e45e2;
}

#processus h3 {
  background: -webkit-linear-gradient(#6e45e2, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(110, 69, 226, 0.7), 0 0 20px rgba(110, 69, 226, 0.5);
}


/* Ajustements pour les grands écrans */
@media screen and (min-width: 1024px) {
    .processus-content {
        max-width: 800px; /* ou une autre valeur adaptée */
        margin-left: auto;
        margin-right: auto;
    }

    .processus-step {
        padding: 20px;
        flex-direction: row; /* Les éléments sont alignés horizontalement */
    }

    .processus-step img {
        max-width: 30%; /* Ajustement pour les grands écrans */
    }
}

